body {
    background: grey;
}

#eMoney-logo {
    width: 20%;
}
/*
.links {
    display: flex;

}
*/
#mag-glass {
    width: 10px;
}

#download {
 width: 15px;
 float: left;
}

.orange-button {
    background: orange;
    width: 15%;
    height: 10%;
    align-content: space-around;

}
/*

.nav-container{
    z-index: 1;
    display: flex;
    z-index: 10;
    justify-content: flex-start;
}
*/

video {
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav-container {
    text-align: center;
    font-size: 6rem;
    background-color: rgb(255, 255, 255, .2);
    padding: 10px;
    margin: 10px;
    z-index: 1;
}

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.block-top {
    display: block;
    background-color: navy;
    position: absolute;
    Width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
}
 .white-div {
     background-color: white;
     color: black;
 }

 .hide-block-top {
     position: absolute;
     top: 0;
     right: 0;
     border: 3px solid white;
     color: White;
     height: 50px;
     width: 50px;

     
     padding: 2px;
     overflow: hidden;
     border-radius: 50%;
 }
