v1 {
    place to store td - Data structures
    procedure to display td's - Properties/function 
    procedure to add more td's
    procedure to change a td
    drocedure to delete avtd
}

v2 {
    functions, parameters
    to display(read), to add(create), to change(update), to delete(delete) //(CRUD) 
}

v3 {
    object w array and 4 methonds
}

v4 {
    object.addtd should add objects
    object.changetd should change todoText property
    object.toggleCompleted should change completed(property: y/n)
}

v5 {
    obj.displaytd should show ojb.todos[x].tdText
    obj.displaytd should tell you if obj.todos[x].tdText is empty
     obj.displaytd should show ojb.todos[x].completed
}

v6 {
    obj.toggleAll: if all true, toggle all to false
    obj.toggleAll: if not all true toggle all to true
}

v7 {
    include buttons w/ onclick events for display todos and toggle all todos
}

debugging {
    use the debugger to test your code
}